version: '3.8'

services:
  db:
    container_name: cms_db
    image: docker.io/postgres:18.0
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./databases/:/docker-entrypoint-initdb.d/
    environment:
      - POSTGRES_PASSWORD=password$
      - POSTGRES_USER=user
      - POSTGRES_DB=cartelera
      - PGDATA=/var/lib/postgresql/data
    networks:
      - default
    shm_size: 128mb
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -U user -d cartelera" ]
      interval: 5s
      timeout: 5s
      retries: 5
  rebac:
    image: docker.io/openfga/openfga:v1.8
    container_name: cms_rebac
    command: run
    ports:
      - 3001:3000
      - 8080:8080
      - 8081:8081
    volumes:
      - openfga_data:/data
    environment:
      - OPENFGA_DATASTORE_ENGINE=sqlite
      - "OPENFGA_DATASTORE_URI=file:/data/openfga.db"
      - OPENFGA_PLAYGROUND_ENABLED=true
    networks:
      - default
  rabbitmq:
    container_name: cms_rabbitmq
    image: docker.io/rabbitmq:4.2.0
    restart: unless-stopped
    networks:
      - default
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=cartelera
      - RABBITMQ_DEFAULT_PASS=cartelera
volumes:
  db_data:
  openfga_data:
  rabbitmq_data:
